<%= javascript_include_tag 'jquery.dataTables.min' %>


<!-- Inicio do clienterio de erros --> 
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Fim do clienterio de erros --> 


  <!-- Inicio barra lateral -->
  <hr class="thin bg-grayLighter">
<div class="page-content">
        <div class="flex-size-auto" style="height: 100%">
    
            <div class="row" style="height: 100%; width: 100%">

              

  <!-- Conteudo da Página -->
    <div class="cell auto-size padding20 bg-white" id="cli1">

   <div class="tabcontrol">
<ul class="tabs">
<li  id="clientgrid"><a href="#clientes">Clientes</a></li>
<li  id="calo" ><a href="#locais">Locais de Atendimento</a></li>
</ul>
    </div> </div>


 <div id="inserthere"></div>


 <!-- Fim de Barra Lateral -->
<div class="cadedit-form padding20 block-shadow">
   
         <span class="m-btn blue-stripe">Atualizar Dados Cadastrais</span> <a href="/cliente"> <button style="float: right;" id="fecharcad" class="button alert" onclick="pushMessage('alert')">Cancelar</button> </a>
            <hr class="thin"/>
            <br />
             <%= nested_form_for @cliente do |f| %>
            <div class="input-control text nome-size" data-role="input" style="float: left">
                <label for="user_login">Nome Cliente/Fantasia: </label>
                 <%= f.text_field :name, id: 'user-login', :required => true , placeholder: "Nome do Cliente"%>
               
            </div>
           

            <div class="input-control number celular-size" data-role="input" style="margin-left: 15px" >
                <label for="user_login">Telefone:</label>  
                    <%= f.text_field :telefone, id: 'user-login', required: true, placeholder: "Telefone de Contato" %>
             
            </div>

  <br />
  <br />

<div class="input-control email email-size" data-role="input">
                <label for="user_login">Email:</label>
                
 <%= f.text_field :email, id: 'user_login', required: true, placeholder: "Endereço de Email" %>
             
            </div>
  <br />

  <br />

            <br />  

   <%= f.fields_for :locals do |ff| %> 

 <div class="input-control number nome-size" data-role="input" >
<%= ff.text_field :logra, placeholder: "Logradouro"  %>   </div>
 
   <div class="input-control number cep-size" data-role="input"  >
      <%= ff.text_field :uf, placeholder: "Estado"  %>  </div>
       <div class="input-control number cep-size" data-role="input"  >
   <%= ff.text_field :city , placeholder: "Cidade" %>  </div>
   <div class="input-control number cep-size" data-role="input"  >
  <%= ff.text_field :cep, placeholder: "CEP"  %>   </div>
    <div class="input-control number km-size" data-role="input"  >
   <%= ff.text_field :km , placeholder: "KM"%> </div>

<%= ff.link_to_remove "X",class: 'm-btn red icn-only' %> 


<% end %>


 <br />

 <%= f.link_to_add "Adicionar Local", :locals, class: 'button success' %> <br>
<br>
  <div class="actions">
  <%= f.submit 'Atualizar Dados', class: 'm-btn blue' %>
  </div>
<% end %>
  </div>

 <!-- Conteudo da Página -->


<!-- Inicio do cadastro de relatórios --> 



 
</div>
</div>

