<%= javascript_include_tag 'jquery.dataTables.min' %>


<!-- Inicio do localrio de erros --> 
  <% if @local.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@local.errors.count, "error") %> prohibited this local from being saved:</h2>

      <ul>
      <% @local.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Fim do localrio de erros --> 


  <!-- Inicio barra lateral -->
<hr class="thin bg-grayLighter">
<div class="page-content">
        <div class="flex-size-auto" style="height: 100%">
    
            <div class="row" style="height: 100%; width: 100%">

              

  <!-- Conteudo da Página -->
    <div class="cell auto-size padding20 bg-white" id="cli1">

   <div class="tabcontrol">
<ul class="tabs">
<li  id="clientgrid"><a href="#clientes">Clientes</a></li>
<li  id="calo" ><a href="#locais">Locais de Atendimento</a></li>
</ul>
    </div> </div>


 <div id="inserthere"></div>


 <!-- Fim de Barra Lateral -->


 <!-- Conteudo da Página -->


<!-- Inicio do cadastro de relatórios --> 



 <div class="caledit-form padding20 block-shadow">
     
         <span class="m-btn blue-stripe">Atualizar Dados Cadastrais</span> <a href="/cliente"> <button style="float: right;" id="fecharcad" class="button alert" onclick="pushMessage('alert')">Cancelar</button> </a>
       
            <hr class="thin"/>
            <br />
             <%= form_for(@local) do |f| %>
            <div class="input-control text cep-size" data-role="input">
                <label for="user_login">Cliente: </label>
                 
  <%= f.collection_select(:cliente_id, Cliente.all, :id, :name, prompt: "Selecionar Cliente", id: 'user-login') %>
                
            </div>
           
  <br />
  <br />
            <div class="input-control text nome-size" data-role="input">
                <label for="user_login">Logradouro:</label>  
               
                  <%= f.text_field :logra, id: 'user-login', required: true, placeholder: "Endereço Completo" %>
            </div>

  
         

 
      <div class="input-control text cep-size" data-role="input">
                <label for="user_login">Estado:</label>      
                <%= f.text_field :uf, id: 'user-login', required: true, placeholder: "Estado/Região" %>
            </div>


   <div class="input-control text cep-size" data-role="input">
                <label for="user_login">Cidade:</label>      
                <%= f.text_field :city, id: 'user-login', required: true, placeholder: "Cidade" %>
            </div>
            <br />
  <br />
<div class="input-control text cep-size" data-role="input">
                <label for="user_login">CEP:</label>      
                <%= f.text_field :cep, id: 'user-login', required: true, placeholder: "CEP" %>
            </div>

   <div class="input-control text km-size" data-role="input">
                <label for="user_login">KM:</label>      
                <%= f.number_field :km, id: 'user-login', required: true, placeholder: "KM" %>
            </div>

  <br />
  <br />
 
<br>
  <div class="actions">
  <%= f.submit 'Atualizar Dados', class: 'm-btn blue' %>
  </div>

<% end %>
  </div>
