<%= javascript_include_tag 'jquery.dataTables.min' %>


<!-- Inicio do projetorio de erros --> 
  <% if @projeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@projeto.errors.count, "error") %> prohibited this projeto from being saved:</h2>

      <ul>
      <% @projeto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Fim do projetorio de erros --> 


  <!-- Inicio barra lateral -->
<hr class="thin bg-grayLighter">
<div class="page-content">
        <div class="flex-size-auto" style="height: 100%">
    
            <div class="row" style="height: 100%; width: 100%">

              

  <!-- Conteudo da Página -->
    <div class="cell auto-size padding20 bg-white" id="cli1">

   <div class="tabcontrol">
<ul class="tabs">
<li ><a href="#projetos">Projetos</a></li>

</ul>
    </div> </div>

 <!-- Fim de Barra Lateral -->


 <!-- Conteudo da Página -->


<!-- Inicio do cadastro de projeto edit --> 


  <!--  Inicio Cad Projeto-->
 <div class="cell auto-size padding20 bg-white" id="cli">
    


 <div id="cadprojedit" class="cadprojedit-form padding20 block-shadow">
<span class="m-btn green-stripe">Painel de Controle</span><a href="/projetos/new"><button style="float: right;" id="fecharcap" class="button alert" onclick="pushMessage('alert')">Cancelar</button></a>
         

 <div class="cell auto-size padding20 bg-white" id="cli1">

   <div class="tabcontrol">
<ul class="tabs">
<li  id="dadosproj"><a href="#dados">Visualizar Dados</a></li>
<li  id="dadosativ" ><a href="#locais">Controle de Atividades</a></li>
<li  id="dadosrel" ><a href="#locais">Relatórios Elaborados </a></li>
</ul>
    </div> </div>

 <div id="projethere"> </div>

 <div id="atividades">
<span class="m-btn red-stripe">Atividades do Projeto</span>
            <hr class="thin"/>
            <br />
 <% nested_set_options(Task.where(projeto_id: @projeto1.id)) { |i|  " #{'–' * i.level}  #{i.raiz}  #{i.descr} #{i.id} " }.each do |raiz, id| %>
    <div class="treeview" data-role="treeview">
      
    <ul>

    <li><span class="leaf"><%= raiz %></span></li>
    </ul>
   
    </div>
 <% end %>


<br />
<br />
<%= nested_form_for @projeto do |f| %>
<div >



<%= f.fields_for :tasks do |ff| %>
   

 <div style="margin-left: 10px; margin-bottom: 25px" class="input-control text id-size" data-role="input">
     <label for="user_login">Código:</label>
 <%=  ff.number_field :raiz, :placeholder => "COD" %> </div>
  <div style="margin-left: 10px; margin-bottom: 25px" class="input-control text celular-size" data-role="input">
       <label for="user_login">Descrição:</label>
 <%=  ff.text_field :descr, :placeholder => "Descrição" %>   </div>
  <div style="margin-left: 10px; margin-bottom: 25px" class="input-control text id-size" data-role="input">
       <label for="user_login">Horas:</label>
   <%=  ff.number_field :tempo, :placeholder => "Carga Horária Estimada" %> </div>
    <div style="margin-left: 10px; margin-bottom: 25px" class="input-control text cep-size" data-role="input">
   <label for="user_login">Tipo de Atividade:</label>
 <%= ff.select("typo", {"Analitica" => "Analitica", "Sintetica" => "Sintetica"}) %></div>

  <div style="margin-left: 10px; margin-bottom: 25px" class="input-control text id-size" data-role="input">
       <label for="user_login">ID PAI:</label>
<%= ff.number_field :parent_id , :placeholder => "ID Pai"  %></div>
  <div style="margin-left: 10px; margin-bottom: 25px" class="input-control text id-size" data-role="input">
<%= ff.link_to_remove "X" ,class: 'm-btn red icn-only ' %></div>
<%= ff.hidden_field(:projeto_id, :value => @projeto.id) %>
			            
 			
                        <% end %>

                
</div> 

 <%= f.link_to_add "Adicionar Atividade", :tasks, class: 'button success' %> <br>
<br />

<div class="actions">
  <%= f.submit 'Cadastrar', class: 'm-btn blue' %>
  </div>
<% end %>

</div>
<!-- Inicio dos relatorios --> 

<div id="relatosproj">

 <table bgcolor="#f9f9f9" class="table striped hovered cell-hovered dataTable border bordered"  data-role="datatable" data-auto-width="true">

                        <thead>
                        <tr>
                            
                            <td  class="sortable-column sort-asc" style="width: 10px">Usuario:</td>
                          <td class="sortable-column" style="width: 60px">Atividades Reportadas</td>
                           
                            <td class="sortable-column" style="width: 45px">Status do Relatório</td>
                            <td style="width: 45px">Comentarios</td>
                            <td style="width: 5px">Localização</td>
                        </tr>
                        </thead>

                        <tbody>
                          <% @relatos.each do |relato| %>
                           
                        <tr>
                            <td ><%= relato.user.name %></td>
                            <td><%= @taskdone %></td>
 <td ><%= relato.isdoe %></td>
 <td><%= relato.comment %></td>
  <td bgcolor="#fff" > <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{relato.latitude}%2C#{relato.longitude}" %> </td>
                            
                          
                           
                        </tr>
                        
                        <% end %>
                        </tbody>
                    </table>
                    





</div> 




<div id="editproj1">
<span class="m-btn red-stripe">Dados do Projeto</span>
            <hr class="thin"/>
            <br />
<%= form_for(@projeto) do |f| %>
        <div class="input-control text celular-size" data-role="input">
                   <label for="user_login">Cliente:</label>
          <%= f.collection_select(:cliente_id, Cliente.all, :id, :name, prompt: "Selecionar", :required => true) %>
      </div>
      <div style="margin-left: 10px" class="input-control text cep-size" data-role="input">
   <label for="user_login">Gerente:</label>  
     <%= f.collection_select(:user_id, User.all, :id, :name, prompt: "Selecionar", :required => true, id: 'user-login') %>
  </div>
  <div style="margin-left: 8px"  class="input-control text cep-size" data-role="input">
     <label for="user_login">Tipo:</label>  
    <%= f.select("typo", {"Avulso" => "Avulso", "Padrão" => "Padrao"}, :required => true, id: 'user-login') %>
  </div><br />
  <br />
  <div class="input-control text nome-size" data-role="input">
    <label for="user_login">Apelido do Projeto:</label>  
    <%= f.text_field :name, :required => true, id: 'user-login' %>
  </div>

 <br />
  <br />
 <div class="input-control text full-size" data-role="input">
    <label for="user_login">Descrição do Projeto:</label>  
    <%= f.text_area(:descr, :required => true, :size => 5) %>
  </div>
 <br />
  <br />
 <br />
  <br />
  <br />
 <br />
  <br />
 <div class="calendar-cell year-cell align-left year" data-role="input">
     <label for="user_login">Data de Inicio:</label>  
    <%= f.date_select :dateini, :required => true , id: 'user-login'%>

 <label style="margin-left: 15px"  for="user_login">    Data de Finalização:</label>  
    <%= f.date_select :datefin, :required => true, id: 'user-login' %>
  </div>
 <br />


 <br />
  <br />
 
  <div class="actions">
  <%= f.submit 'Cadastrar', class: 'm-btn blue' %>
  </div>
<% end %>

</div>



</div>

</div></div>
</div></div>

