<%= javascript_include_tag 'jquery.dataTables.min' %>


<!-- Inicio do relatorio de erros --> 
  <% if @relato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relato.errors.count, "error") %> prohibited this relato from being saved:</h2>

      <ul>
      <% @relato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Fim do relatorio de erros --> 


  <!-- Inicio barra lateral -->
 <hr class="thin bg-grayLighter">
<div class="page-content">
        <div class="flex-size-auto" style="height: 100%">
    
            <div class="row" style="height: 100%; width: 100%">

              

  <!-- Conteudo da Página -->
    <div class="cell auto-size padding20 bg-white" id="cli1">

   <div class="tabcontrol">
<ul class="tabs">
<li id="relatogrid" ><a href="#abertos">Relatórios em Aberto</a></li>
<li  id="relatogridfin" ><a href="#finalizados">Relatórios Finalizados</a></li>
<li  id="relatogridcond" ><a href="#condicionais">Condicionais</a></li>
</ul>
    </div> </div>

 <!-- Fim de Barra Lateral -->
    

 <!-- Conteudo da Página -->
<div id="relatoinsert"> </div>
  <div class="cell auto-size padding20 bg-white" id="relatogeral">
                    
                    <br /> 
                    <button class="button info block-shadow-info text-shadow" id="addrel" ><span class="mif-plus"></span> Novo Relatório</button>
          <br />  <br /> 
                    <hr class="thin bg-grayLighter" > 

                   
                    <table bgcolor="#f9f9f9" class="table striped hovered cell-hovered dataTable border bordered"  data-role="datatable" data-auto-width="true">

                        <thead>
                        <tr>
                            
                            <td class="sortable-column sort-asc">ID:</td>
                       <td class="sortable-column sort-asc">Cliente:</td>
                            <td class="sortable-column sort-asc">Projeto:</td>
                            <td class="sortable-column sort-asc">Local:</td>
                                  <td class="sortable-column sort-asc">Tempo:</td>
                                   <td class="sortable-column sort-asc">Observação:</td>

                                        <td>Ações:</td>
                        </tr>
                        </thead>

                        <tbody>   
                           <% @relatos1.each do |relato| %>
                           
                        <tr>  <% if can? :read, relato %>
                      
                            <td><%= relato.id %></td>
                            <td><%= relato.cliente.name %></td>
 <td><%= relato.projeto.name %></td>
 <td><%= relato.local.logra %></td>
    <td><%= relato.time %></td>
      <td><%= relato.comment %></td>
 
           <td> <%= link_to 'Reportar Atividades', edit_relato_path(relato) , class: 'm-btn green icn-only' %> <%= link_to 'Excluir', relato, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'm-btn red icn-only'  %> </td>  <% end %>
                            
                    
                           
                        </tr>
                        
                        <% end %>  
                        </tbody>

                    </table>
                    
                </div>
      


 <!-- FIm Conteudo da Página -->

 <!-- Inicio Reg Atividade Rel -->



 <!-- FIm Reg Atividade -->

<!-- Finalizado Relatorio Inicio -->

  <div class="cell auto-size padding20 bg-white" id="relatocond">
                   
                    <br /> 
                    <button class="button info block-shadow-info text-shadow" id="addcondit" ><span class="mif-plus"></span> Registrar Condicional </button>
         
                    <hr class="thin bg-grayLighter" > 

                   
                    <table class="dataTable border bordered" data-role="datatable" data-auto-width="false">

                        <thead>
                        <tr>
                            
                            <td class="sortable-column sort-asc" style="width: 100px">ID</td>
                       <td class="sortable-column" style="width: 45px">Projeto</td>
                            <td class="sortable-column" style="width: 45px">Duração</td>
                           
                                  
                                   <td style="width: 45px">Observação:</td>
                                   <td style="width: 45px">Data:</td>
<td style="width: 45px">Ações:</td>
                                     
                        </tr>
                        </thead>

                        <tbody>
                           <% @conditionals.each do |condi| %>
                           
                        <tr>
                           
                            <td><%= condi.id %></td>
                            <td><%= condi.projeto.name %></td>
    <td><%= condi.time %></td>
      <td><%= condi.why %></td>
<td><%= condi.data %></td>
           <td> <%= link_to 'Edit', edit_conditional_path(condi), class: 'm-btn green icn-only' %>   </td>
                            
                          
                           
                        </tr>
                        
                        <% end %>
                        </tbody>
                    </table>
                    
         
    </div>




 <!-- Finalizado Relatorio Inicio -->

  <div class="cell auto-size padding20 bg-white" id="relatogeralfi">
                    
                    <br /> 
                   
         
                    <hr class="thin bg-grayLighter" > 

                   
                    <table class="dataTable border bordered" data-role="datatable" data-auto-width="false">

                        <thead>
                        <tr>
                            
                            <td class="sortable-column sort-asc" style="width: 100px">ID</td>
                       <td class="sortable-column" style="width: 45px">Cliente:</td>
                            <td class="sortable-column" style="width: 45px">Projeto:</td>
                            <td style="width: 45px">Local:</td>
                                  <td style="width: 45px">Tempo:</td>
                                   <td style="width: 45px">Observação:</td>
<td style="width: 45px">Ações:</td>
                                     
                        </tr>
                        </thead>

                        <tbody>
                           <% @relatos2.each do |relato| %>
                           
                        <tr>
                           
                            <td><%= relato.id %></td>
                            <td><%= relato.cliente.name %></td>
 <td><%= relato.projeto.name %></td>
 <td><%= relato.local.logra %></td>
    <td><%= relato.time %></td>
      <td><%= relato.comment %></td>
           <td> <%= link_to 'Visualizar Atividades', edit_relato_path(relato) , class: 'm-btn green icn-only' %>   </td>
                            
                          
                           
                        </tr>
                        
                        <% end %>
                        </tbody>
                    </table>
                    
          
    </div>


 <!-- FIm Rel Finalizado -->


<!-- Condicional --> 

<div class="cadcon-form padding20 block-shadow">
<span class="m-btn red-stripe">Cadastrar Condicional</span> <button style="float: right;" id="fecharcond" class="button alert" onclick="pushMessage('alert')">Cancelar</button>
            <hr class="thin"/>
            <br />
            <br />
<%= form_for(@conditional) do |f| %>
<div class="input-control text celular-size" data-role="input">
    <label for="user_login">Projeto: </label>
    <%= f.grouped_collection_select :projeto_id, Cliente.order(:name), :projetos, :name, :id, :name, include_blank: true, class: 'form-control' %>
  </div>


  
    <div style="margin-left: 50px" class="input-control text cep-size" data-role="input">
    <label for="user_login">Distância: </label>
    <%= f.text_field :km %>
  </div>
  <div class="cep-size">
<label class="input-control checkbox"> Translado: </label>
     </div>
<label class="switch-original">
<input type="checkbox">
<span class="check"><%= f.check_box :transla  %></span>
</label>
<div>
<label class="input-control checkbox"> Intervalo: </label>
    </div>
<label class="switch-original">
<input type="checkbox">
<span class="check"> <%= f.check_box :interval %></span>
</label>
   
<br />
<br />
<label for="user_login">Data:</label>
    <span><%= f.date_select :data, :required => true, "data-role" => "datepicker"%></span>

    <label style="margin-left: 50px" for="user_login">Duração:</label>
    <%= f.time_select(:time) %>
       

     
  
<br />
<br />
<br />


  <div class="input-control text full-size" data-role="input">
     <label for="user_login">Descrição:</label> 
<%= f.text_area(:why, :required => true, :size => 2) %>
  </div>

  <br />
<br />
<br />
<br />
<br />
<br />

  <div class="actions">
  <%= f.submit 'Cadastrar', class: 'm-btn blue' %>
  </div>
<% end %>
</div>
<!-- Fim condicional -->



<!-- Inicio do cadastro de relatórios --> 
 <div class="carl-form padding20 block-shadow" id="cadrelato">
<span class="m-btn blue-stripe">Novo Relatório</span> <button style="float: right;" id="fecharrel" class="button alert" onclick="pushMessage('alert')">Cancelar</button>
            <hr class="thin"/>
            
            <br />

<%= nested_form_for @relato do |f| %>
        <%= f.hidden_field(:isdoe, :value => false) %>
 <div class="input-control text celular-size" data-role="input">
    <label for="user_login">Cliente: </label>
  <%= f.collection_select :cliente_id, Cliente.order(:name), :id, :name, prompt: "Selecionar", :required => true %>
  </div>

 <div class="input-control text cep-size" data-role="input">
    <label for="user_login">Projeto: </label>
   <%= f.grouped_collection_select :projeto_id, Cliente.order(:name), :projetos, :name, :id, :name, prompt: "Selecionar" , :required => true%>
  </div>

  <div class="input-control text cep-size" data-role="input">
    <label for="user_login">Local de Atendimento: </label>
   <%= f.grouped_collection_select :local_id, Cliente.order(:name), :locals, :name, :id, :cep, prompt: "Selecionar", :required => true %>
  </div>
<br />
<br />

 <div class="input-control text full-size" data-role="input">
    <label for="user_login">Observação: </label>
  <%= f.text_area(:comment, :required => true, :size => 3) %>
  </div>
<br />
<br />
   <%= f.hidden_field(:user_id, :value => current_user.id) %>
 <%= f.hidden_field(:time, :value => Time.now) %>
<%= f.hidden_field(:ip_address, :value => request.remote_ip)  %>
<%= f.hidden_field(:getlocal, :value => request.location)  %>
 <%= f.hidden_field :latitude %>
 <%= f.hidden_field :longitude  %>
     

<br />
<br />
<br />
<br />
<br />
<br />






<div class="actions">

 
  <%= f.submit 'Cadastrar', class: 'm-btn blue' %>
</div>
<br>
<% end %>
</div>
</div>
</div></div>
